li {
    border: 2px solid black;
    margin: 5px 0;
    padding: 0 5px 5px 0 ;
}
.shoutDiv {
    display: grid;
    grid-template-columns: 65px auto ;
    grid-template-rows: 25px 40px;
    height: 65px;
    grid-gap: 5px;
}
.shoutPhoto {
    grid-row: 1/3;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;
}
.shoutMsg {
    grid-column: 2/3;
    word-break: break-all;
}
.shoutAuthor {
    font-size: 1.2em;
}
.authorList {
    display: flex;
    justify-content: space-between;
}
ul {
    list-style-type: none;
}