section{
    padding-top: 0;
}
article {
    margin-top: 20px;
}
h1 {
    padding: 20px 0;
    font-size: 2em;
}
h2 {
    padding: 10px 0;
}
ul {
    list-style-type: none;
}
li {
    border: 1px solid black;
}

section a{
    text-decoration: none;
    color: black;
}

.article div{
    border: 2px solid black;
    padding: 5px;
}

.commentForm{
    display:flex;
}
.commentForm div p{
    margin-bottom:8px;
}

.commentForm textarea {
    flex:auto;
    margin-left:20px;
    resize: none;
    border: 2px solid black;
}

.commentDiv {
    margin-top: 20px;
    border: 2px solid darkgray;
    padding: 10px;
}

article a {
    color: blue;
    text-decoration: underline;
}

.footPrint {
    text-align: right;
    color: darkgray;
    font-size: 0.9em;
}