h1 {
    margin: 20px 0;
    font-size: 2em;
}
h2 {
    margin: 5px 0;
    text-align: center;
}
p {
    margin: 5px 0;
}

section a{
    text-decoration: none;
    color: black;
}

form {
    width: 70%;
    margin: 20px auto;
}

form ul.errorList {
    padding: 0 0 0 25%;
}
section form div {
    display: flex;
    margin: 20px auto;
    width: 100%;
    justify-content: space-between;
}

form div label {
    width: 100%;
    text-align: right;
    margin-right: 20px;
    flex: 30px;
}

form div input,
form div textarea {
    width: 100%;
    flex: 10;
    border: 2px solid black;
}

.buttonContainer button{
    margin: 0 auto;
}