h1,h2,h3,h4,h5,h6,p,ul,li{
    padding: 0;
    margin: 0;
}
.container {
    width: 600px;
    margin: 0 auto;
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
}
header {
    background-image: url('/images/header_logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 20px;
    height: 100px;
    text-align:right;
    border: 1px solid green;

    position: relative;
}

a.homeLink {
    display: block;
    width: 100%;
    height: 100%;
}
header div{
    position: absolute;
    right:0;
    top:0;
}

header div span{
    margin-right: 10px;
}

section {
    border: 1px solid red;
    padding: 20px;
}

button {
    padding: 5px 10px;
    border: 2px solid black;
}

.errorList {
    padding: 10px;
    color: red;
    font-size: 0.9em;
}