{% for product in productList %}
    <li>
        <img class="productImg" src="{{ product.pictureFilePath }}" />
        <p class="productName">#{{product.id}}: {{ product.name }}</p>
        <p class="productDesc">{{ product.description}}</p>
        <div class="removeDiv">
            <p>Unit Price: ${{ product.unitPrice }}</p>
            <button class="btRemove" onClick="displayGrayout('{{product.name}}',{{product.id}});">
                Remove
                <span style="display:none">{{ product.id }}</span>
            </button>
            <button><a href="/admin/products/edit?id={{ product.id}}">Edit</a></button>
        </div>
    </li>
{% else %}
    <li>
        <h3>There is no Item... Add Item first</h3>
    </li>
{% endfor %}