{% extends "layout.html.twig" %}

{% block title %}
    [Admin]Product List
{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Index page css-->
    <link rel="stylesheet" type="text/css" href="/styles/product_list.css" />
    <style>
        section form>div {
            text-align: right;
        }
    </style>

{% endblock stylesheets %}

{% block grayout %}
    {% include "grayout_product_list.html.twig" %}
{% endblock grayout %}

{% block section %}
    <div class="sectionHeader">
        <h1>Product List</h1>
        <button><a href="/admin/products/add">Add New Product</a></button>
    </div>

    <ul id="productList"></ul>

    <div class="pageDiv">
        <span class="pagePrev" onclick="loadProductPage(currentPage-1);">Previous</span>
        {% for page in 1 .. totalPages %}
            <span id="pageLink{{page}}" class="pageLink" onclick="loadProductPage({{page}});">{{page}}</span>
        {% endfor %}
        <span class="pageNext" onclick="loadProductPage(currentPage+1);">Next</span>
    </div>

{% endblock section %}

{% block scripts %}

    <script>
        currentPage = 1;
        totalPages = {{ totalPages }};

        function loadProductPage(page){
            if(page < 1 || page > totalPages ){ return; }

            if(page == 1){
                $(".pagePrev").css("display","none");
                $(".pageNext").css("display","inline-block");
            } else if(page == totalPages){
                $(".pageNext").css("display","none");
                $(".pagePrev").css("display","inline-block");
            } else {
                $(".pagePrev").css("display","inline-block");
                $(".pageNext").css("display","inline-block");
            }

            $("#pageLink" + currentPage).removeClass("pageLinkCurrent");
            currentPage = page;
            $("#pageLink" + currentPage).addClass("pageLinkCurrent");
            $("#productList").load("/admin/ajax/products/list/" + currentPage);
        }

        function displayGrayout(message, productId){
            $("#grayoutBtRemove #productName").text(message);
            $("#grayoutBtRemove #productId").text(productId);
            $("#grayoutContentTitle").html("Remove > " + message);
            $("#grayout").css('display','block');
        }

        $(document).ready(function(){
            loadProductPage(currentPage);
            $("#grayoutBtCancel").click(function () {
                $("#grayout").css('display','none');
            })

            $("#grayoutBtRemove").click(function() {
                let productName = $("#grayoutBtRemove #productName").text();
                let productId = $("#grayoutBtRemove #productId").text();
                $("#notificationContent").html("Product[" + productName + "] is removed");
                $("#notificationDiv").show(300).delay(2000).fadeOut("slow");
                $("#grayout").css('display','none');

                let url = "/admin/ajax/products/delete/" + productId;
                $.get(url, function(data){
                    if(data == 'true'){
                        loadProductPage(currentPage);
                    }
                });
            });
        });

        $(document).ajaxError(function(event, jqxhr, settings, thrownError) {
            console.log("Ajax error occured on " + settings.url);
            alert("Ajax error occured");
        });
    </script>
{% endblock scripts %}