{% extends "layout.html.twig" %}

{% block title %}
    Product {{ action }} Page
{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/styles/login.css" />
    <style>
        #productImg{
            border: 1px solid black;
            box-shadow: 1px 1px 1px 1px;
            width: 100%;
            cursor: pointer;
        }
        #productImgInput{
            display:none;
        }
        #category{
            font-size: inherit;
            height: 100%;
            margin-top: 3px;
        }
    </style>
{% endblock stylesheets %}

{% block header %}
{% endblock header %}

{% block section %}
    <h2>{{ action | upper }} Product</h2>

    <form method="POST" action="/admin/products/{{ action }}" enctype="multipart/form-data" autocomplete="off">
        <ul class="errorList">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>

        <input type="number" name="id" value="{{ product.id}}" hidden/>
        <div class="formInput">
            <label>Product Name</label>
            <input type="text" name="name" value="{{ product.name }}"/>
        </div>
        <div class="formInput">
            <label>Description</label>
            <textarea name="description">{{ product.description}}</textarea>
        </div>
        <div class="formInput">
            <label>Category</label>
            <select id="category" name="categoryId">
                <option value="1">simple</option>
                <option value="2">letters</option>
                <option value="3">steel</option>
                <option value="4">extra</option>
            </select>
        </div>
        <div class="formInput">
            <label>Picture</label>
            <label for="productImgInput">
                <img id="productImg" 
                    alt="Product Picture" src="{{product.pictureFilePath ?? '/images/empty_picture.png'}}" />
            </label>
            <input id="productImgInput" name="productFilePath" type="file"/>
        </div>
        <div class="buttonDiv">
            <button type="submit">{{ action|upper }}</button>
            <a href="/admin/products/list">Cancel</a>
        </div>
    </form>
{% endblock section %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
    <script>

        $(document).ready(function(){
            $("#category option[value=" + {{product.categoryId}} + "]").prop('selected',true);

            $("#productImgInput").change(function() {
                let imgFile = this.files[0];
                if(imgFile != ''){
                    $("#productImg").attr("src",URL.createObjectURL(imgFile));
                }
            });
        });

        $(document).ajaxError(function(event, jqxhr, settings, thrownError) {
            console.log("Ajax error occured on " + settings.url);
            alert("Ajax error occured");
        });
    </script>
{% endblock scripts %}
