h1 {
    margin: 20px 0;
    font-size: 2em;
}
h2 {
    margin: 5px 0;
}
p {
    margin: 5px 0;
}
ul {
    list-style-type: none;
}
li {
    position: relative;
    border: 1px solid black;
    padding: 10px;
}
li a.articleLink{
    position:absolute;
    display: block;
    width: 100%;
    height: 100%;

}

section a{
    text-decoration: none;
    color: black;
}

.addNewArticleLink{
    text-align: right;
}

.addNewArticleLink a{
    padding: 4px 10px;
    border: 2px solid black;
}