<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="styles.css" />
        <title>{% block title %}Default{% endblock %} - - Day 04 FirstSlim</title>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div id="centerContent">
            <div id="content">{% block content %}{% endblock %}</div>
            <div id="footer">
                &copy; Copyright 2011 by <a href="http://domain.invalid/">you</a>.
            </div>
        </div>
    </body>
</html>