{% extends "master.html.twig" %}

{% block title %}Say Hello {% endblock %}

{% block content %}

    {% if errors %}
        <ul class="errorMessage">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="POST">
        <div>
            Name: <input type="text" name="name" value="{{ person.name }}"/>
        </div>
        <div>
            Age: <input type="number" name="age" value="{{ person.age }}"/>
        </div>
        <input type="submit" value="Say hello" />
    </form>

{% endblock %}