h1,h2,h3,h4,h5,h6,p,ul,li{
    padding: 0;
    margin: 0;
}

#grayout{
    display: none;
    font-family: 'Manrope', sans-serif;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 10;
}
#grayoutContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
}
#grayoutBg{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: black;
    opacity:0.6;

}

#grayoutContent{
    position: relative;
    padding: 10px;
    background-color: #fffdf7;
    border: 2px solid black;
    z-index: 15;
    text-align: center;
}

#grayoutContent div{
    margin: 10px 10px;
}
#grayoutContent button{
    margin: 10px 0;
    cursor: pointer;
}
#grayoutContent button a{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#grayoutContent>span {
    display: inline-block;
    position: absolute;
    right:0;
    top:0;
    cursor: pointer;
}

#grayoutContent>span:hover {
    color: darkgray;
}
#notificationDiv{
    display:none;
    position: fixed;
    bottom: 0;
    right: 0;
    border: 2px solid red;
    background-color: cornsilk;
    color: red;
    font-weight: bold;
    padding: 20px;
    z-index:20;
}

.container {
    width: 700px;
    margin: 0 auto;
    border: 2px solid black;
    font-family: 'Manrope', sans-serif;
    font-size: 0.9em;
}
header {
    height: 100px;
    text-align:right;
    border: 1px solid green;
    position: relative;
}

a.homeLink {
    display: block;
    width: 100%;
    height: 100%;
}


header div{
    position: absolute;
    right:0;
    top:0;
}

header div.bannerLetter{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'Patrick Hand SC', cursive;
    font-size: 4em;
    z-index: -1;
}

section {
    border: 1px solid red;
    padding: 20px;
}

button {
    padding: 5px 10px;
    border: 2px solid black;
}

.errorList {
    padding: 10px;
    color: red;
    font-size: 0.9em;
}
nav ul {
    text-align: center;
}
nav ul li {
    display: inline-block;
    padding: 0;
}
nav ul li a{
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
}
nav ul li a:hover {
    color: darkgrey;
}

.cartLink {
    border-color: blue;
    color: blue;
}