section h1 {
    margin: 20px 0;
    font-size: 2em;
}
section h2, p {
    margin: 5px 0;
}
section a{
    text-decoration: none;
    color: black;
}
section button {
    cursor: pointer;
}
.sectionHeader {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#productList {
    list-style-type: none;
}
#productList li{
    position: relative;
    border: 1px solid black;
    padding: 10px;
    margin: 10px 0;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
}

.productImg {
    grid-column: 1/2;
    grid-row: 1/3;
    width: 100%;
    align-self: center;
}
.productName{
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 1.2em;
}

.productDesc{
    grid-column: 2/3;
    grid-row: 2/3;
}

.removeDiv {
    grid-column: 3/4;
    grid-row: 1/3;
    text-align: right;
    align-self: center;
}

.pageDiv span{
    text-decoration: underline;
    padding: 0 5px;
    cursor: pointer;
}

.pageDiv span.pageLinkCurrent {
    font-size:2em;
    text-decoration: none;
    cursor: default;
}
.pagePrev,
.pageNext{
    display: none;
}
