{% extends "layout.html.twig" %}

{% block title %}
    Article view
{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/styles/article_view.css" />
{% endblock stylesheets %}


{% block section %}
    <article class="article">
        <h2>{{ article.title }}</h2>
        <p class="footPrint">Posted by {{ article.authorName }} on {{ article.createdAt |date }}</p>
        <div>{{ article.body }}</div>
    </article>

    <article>
        {% if session.user %}
            {% if error %}
                <p class="errorList">{{ error }}</p>
            {% endif %}
            <form method="POST" class="commentForm" 
                action="/article/{{article.id}}/comment/add">
                <div>
                    <p>My comment:</p>
                    <button type="submit">Add comment</button>
                </div>
                <textarea cols=30 rows=3 placeholder="Comment here!" name="commentBody">{{ prevInput.commentBody }}</textarea>
            </form>
        {% else %}
            <h3>You must <a href='/login'>log in</a>
            or <a href='/register'>register</a> to post comments</h2>
        {% endif %}
    </article>

    <article class='previousComents'>
        <h3>Previous comments:</h2>

        {% for comment in comments %}
            <div class="commentDiv">
                <p class="footPrint">{{ comment.authorName }} said on {{ comment.createdAt |date }}</p>
                <p>-> {{ comment.body }}</p>
            </div>
        {% else %}
            <div>
                <small>No comment yet...</small>
            </div>
        {% endfor %}
    </article>
{% endblock section %}
