{% extends "layout.html.twig" %}

{% block title %}
    Add Article page
{% endblock title %}

{% block stylesheets %}
    {{ parent() }}

    <!-- articleadd css -->
    <link rel="stylesheet" type="text/css" href="/styles/articleadd.css"/>
{% endblock stylesheets %}

{% block section %}
    <h2>Craete New Article</h2>

    <form method="POST" autocomplete="off">
        <ul class="errorList">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>

        <div>
            <label>Title</label>
            <input type="text" name="title" value="{{ prevInput.title }}"/>
        </div>
        <div>
            <label>content</label>
            <textarea cols=30 rows=10 name="body">{{ prevInput.body }}</textarea>
        </div>
        <div class="buttonContainer">
            <button type="submit">Add Article</button>
        </div>
    </form>
{% endblock section%}