{% extends "layout.html.twig" %}

{% block title %}
    Welcome to my blog
{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Index page css-->
    <link rel="stylesheet" type="text/css" href="/styles/index.css" />

{% endblock stylesheets %}

{% block section %}
    <h1>Welcome to my blog, read on!</h1>

    {% if session.user %}
    <div class="addNewArticleLink">
        <a href="/article/add">add new article</a>
    </div>
    {% endif %}

    <ul>
        {% for article in articles %}
            <li>
                <a class="articleLink" href='/article/{{ article.id }}'></a>
                <div class="articleInIndex">
                    <h2>{{ article.title }}</a></h2>
                    <small>Posted by {{ article.authorName }} on {{ article.createdAt|date }}</small>
                    <p>
                        {% if article.body |length > 50 %}
                            {{ article.body[:50] ~ ' ... ' | striptags}}
                        {% else %}
                            {{ article.body | striptags}}
                        {% endif %}
                    </p>
                </div>
            </li>
        {% else %}
            <li>There is no article. <a href='/register.php'>Add one now</a></li>
        {% endfor %}
    </ul>
{% endblock section %}