<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ block('title') }}</title>


    {% block stylesheets %}
        <!-- layout(header, section) css -->
        <link rel="stylesheet" href="/styles/layout.css" />

    {% endblock stylesheets %}
</head>

<body>
<div class="container">
    <header>
        <a class="homeLink" href='/'></a>
        {% block header %}
            <div>
                {% if session.user %}
                    <span>You are logged in as {{ session.user.username }}</span>
                    <a href="/logout">Logout</a>
                {% else %}
                    <a href="/login">Login</a> or <a href="/register">Register</a>
                {% endif %}
            </div>
        {% endblock header %}
    </header>

    <section>
    {% block section %}{% endblock section %}
    </section>
    
    {% block scripts %}{% endblock scripts %}
</div>
</body>
</html>