{% extends "layout.html.twig" %}

{% block title %}
    Register page 
{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/styles/login.css" />
{% endblock stylesheets %}

{% block header %}
{% endblock header %}

{% block section %}
    <h2>New User registration</h2>

    <form method="POST" autocomplete="off">
        <ul class="errorList">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>

        <p class="errorList" id="isTaken"></p>
        <div class="formInput">
            <label>Username</label>
            <input type="text" name="username" value="{{ prevInput.username }}"/>
        </div>
        <div class="formInput">
            <label>your email</label>
            <input type="text" name="email" value="{{ prevInput.email }}"/>
        </div>
        <div class="formInput">
            <label>Password</label>
            <input type="password" name="password" />
        </div>
        <div class="formInput">
            <label>Password(repeat)</label>
            <input type="password" name="confirm" />
        </div>
        <div class="buttonDiv">
            <button type="submit">Register!</button>
            <a href="/">Cancel</a>
        </div>
    </form>
{% endblock section %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
    <script>

        $(document).ready(function(){

            //FIXME: on paste event, validate username
            $('input[name=username]').on('paste',function (e,v,a){
                let username = $('input[name=username]').val();
                //console.log(e);
            });

            $('input[name=username]').on('keyup keypress',function (){
                let username = $('input[name=username]').val();

                if(username == ''){ 
                    $('#isTaken').html('');
                    return; 
                }

                $('#isTaken').load('/register/isusernametaken/' + username);
            });
        });

        $(document).ajaxError(function(event, jqxhr, settings, thrownError) {
            console.log("Ajax error occured on " + settings.url);
            alert("Ajax error occured");
        });
    </script>
{% endblock scripts %}
