{% extends "layout.html.twig" %}

{% block title %}
    Welcome to my blog
{% endblock title %}

{% block section %}
    <h1>Welcome to Shout Shout!</h1>
    <a href="/shouts/list">See all Shouts here</a>

{% endblock section %}