{% extends "layout.html.twig" %}

{% block title %}
    Add Shout
{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
<link rel="stylesheet" type="text/css" href="/styles/shoutadd.css"/>
{% endblock stylesheets %}

{% block section %}
    <h2>Create New Shout</h2>

    {% if submit == 'succeed' %}
        <h3>New Shout created!! Go to <a href="/shouts/list">see shout list</a></h3>
    {% else %}
        <form method="POST" autocomplete="off">
            <ul class="errorList">
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>

            <div>
                <label>Message</label>
                <textarea cols=30 rows=10 name="message">{{ prevInput.message}}</textarea>
            </div>
            <div class="buttonContainer">
                <button type="submit">Add Shout</button>
            </div>
        </form>
    {% endif %}
{% endblock section%}