{% extends "layout.html.twig" %}

{% block title %}
    Shouts List
{% endblock title %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="/styles/shouts.css" />
{% endblock stylesheets %}
{% block section %}
    <div class="authorList">
        <div>
            Author: 
            <select id="comboAuthor">
                <option value="all"></option>
                {% for author in authorList %}
                    <option value="{{ author }}">{{ author }}</option>
                {% endfor %}
            </select>
        </div>
        <a href="/shouts/add">Add new Shout</a>
    </div>

    <ul id="shoutsList">
        {% for shout in shouts %}
        <li>
            <div class="shoutDiv">
                <div class="shoutPhoto"
                    style="background-image: url('{{shout.imagePath}}')"></div>
                <p class="shoutAuthor">{{ shout.author }}</p>
                <p class="shoutMsg">{{ shout.message }}</p>
            </div>
        </li>
        {% else %}
        <li>
            <b>There is no shout</b>
        </li>
        {% endfor %}
    </ul>
{% endblock section %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
    $("#comboAuthor").change(function(){
        authorName = $("#comboAuthor option:selected").val();
        url = "/ajax/loadshouts";
        if(authorName != "all"){
            url += "/by/";
            url += authorName; 
        }
        $("#shoutsList").load(url);
    });
});
</script>
{% endblock scripts %}