{% extends "layout.html.twig" %}

{% block title %}
    Cart List
{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Index page css-->
    <link rel="stylesheet" type="text/css" href="/styles/cart.css" />
    <style>
        section form>div {
            text-align: right;
        }
    </style>

{% endblock stylesheets %}

{% block grayout %}
    {% include "grayout_product_list.html.twig" %}
{% endblock grayout %}

{% block section %}
    <div class="sectionHeader">
        <h1>Cart Item List</h1>
    </div>
    <div id="cartItemsContainer">
    </div>
{% endblock section %}

{% block scripts %}

    <script>
        let currentPage = 1;

        function loadProductPage(page){
            $("#cartItemsContainer").hide();
            $("#cartItemsContainer").load("/ajax/cartitems/list/" + page,function(){
                $("#cartItemsContainer").show();
            });
            $(document).scrollTop(0);
        }

        function displayGrayout(message, productId){
            $("#grayoutBtRemove #productName").text(message);
            $("#grayoutBtRemove #productId").text(productId);
            $("#grayoutContentTitle").html("Remove > " + message);
            $("#grayout").css('display','block');
        }

        $(document).ready(function(){
            loadProductPage(currentPage);

            $("#grayoutBtCancel").click(function () {
                $("#grayout").css('display','none');
            })

            $("#grayoutBtRemove").click(function() {
                let productName = $("#grayoutBtRemove #productName").text();
                let productId = $("#grayoutBtRemove #productId").text();
                $("#notificationContent").html("Product[" + productName + "] is removed");
                $("#notificationDiv").show(300).delay(2000).fadeOut("slow");
                $("#grayout").css('display','none');

                let url = "/ajax/cartitems/delete/" + productId;
                $.get(url, function(data){
                    if(data == 'true'){
                        loadProductPage(currentPage);
                    }
                });
            });
        });

        $(document).ajaxError(function(event, jqxhr, settings, thrownError) {
            console.log("Ajax error occured on " + settings.url);
        });
    </script>
{% endblock scripts %}