<ul id="productList">
{% for product in productList %}
    <li>
        <img class="productImg" src="{{ product.pictureFilePath }}" />
        <p class="productName">{{ product.name }}</p>
        <p class="productDesc">{{ product.description}}</p>
        <div class="removeDiv">
            <p>Unit Price: ${{ product.unitPrice }}</p>
            <p>Quentity: {{ product.quantity }}</p>
            <button class="btRemove" onClick="displayGrayout('{{product.name}}',{{product.id}});">
                Remove
                <span style="display:none">{{ product.id }}</span>
            </button>
        </div>
    </li>
{% else %}
    <li>
        <h3>There is no Item</h3>
    </li>
{% endfor %}
</ul>

<div class="pageDiv">
    {% if currentPage != 1 %}
        <span class="pageNav" onclick="loadProductPage({{currentPage}}-1);">Previous</span>
    {% endif %}

    {% if totalPages > 1 %}
        {% for page in 1 .. totalPages %}
            {% if currentPage == page %}
                <span class="pageLink pageLinkCurrent" onclick="loadProductPage({{page}});">{{page}}</span>
            {% else %}
                <span class="pageLink" onclick="loadProductPage({{page}});">{{page}}</span>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if currentPage != totalPages %}
        <span class="pageNext" onclick="loadProductPage({{currentPage}}+1);">Next</span>
    {% endif %}
</div>