<div id="grayout">
    <div id="grayoutContainer">
        <div id="grayoutBg"></div>
        <div id="grayoutContent">
            <span id="grayoutBtClose" class="material-icons"> clear </span>
            {% block content %}
            {% endblock content %}
        </div>
    </div>
</div>