{% extends "grayout_layout.html.twig" %}

{% block content %}
<div>
    <h3 id="grayoutContentTitle">Remove Product</h3>
    <p>Do you really want to remove this Product?</p>
</div>
<button id="grayoutBtRemove">
    Remove
    <span id="productName" style="display:none"></span>
    <span id="productId" style="display:none"></span>
</button>
<button id="grayoutBtCancel">Cancel</button>

{% endblock content %}