{% extends "grayout_layout.html.twig" %}

{% block content %}
<div id="productInfo"></div>
<button><a href="/cart">Go To Cart</a></button>
<button id="grayoutBtKeepShopping">Keep Shopping</button>

{% endblock content %}