{% extends "layout.html.twig" %}

{% block title %}
    Welcome to my blog
{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Index page css-->
    <link rel="stylesheet" type="text/css" href="/styles/index.css" />

{% endblock stylesheets %}

{% block grayout %}
    {% include "grayout_cart.html.twig" %}
{% endblock grayout %}

{% block section %}
    <h1>Welcome to Cups Shop!</h1>
    <ul class=""productList">
    {% for product in products %}
        <li id="product{{product.productId}}">
            <img class="productImg" src="{{ product.pictureFilePath }}" />
            <p class="productName">{{ product.productName }}</p>
            <p class="productDesc">{{ product.description}}</p>
            <div class="addToCartDiv">
                <label>Unit Price: ${{ product.unitPrice }}</label>
                <input text="number"  name="quantity" value="1"/>
                <button id="btAddToCart" onClick="addToCart({{product.productId}},this);">Add To Cart</button>
                <span style="display:none">{{ product.productId }}</span>
            </div>
        </li>
    {% else %}
        <li>
            <h3>There is no Product... sorry</h3>
        </li>
    {% endfor %}
    </ul>
    <div class="pageDiv">
        {% if currentPage != 1 %}
            <a class="pageNav" href="?page={{ currentPage - 1 }}"> Previous </a>
        {% endif %}

        {% for page in 1 .. totalPages %}
            {% if page != currentPage %}
                <a href="?page={{page}}">{{page}}</a>
            {% else %}
                <span>{{page}}</span>
            {% endif %}
        {% endfor %}

        {% if currentPage != totalPages %}
            <a class="pageNav" href="?page={{ currentPage + 1 }}"> Next </a>
        {% endif %}
    </div>


{% endblock section %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
    <script>
        function displayGrayout(productId,quantity){
            $("#grayoutContent").css('width','300');
            $("#grayoutContent #productInfo")
                .empty()
                .append(
                    $(`#product${productId} .productName`)
                        .clone()
                        .append(`[Quantity:${quantity}]`)
                )
                .append($(`#product${productId} .productImg`).clone());

            $("#grayout").css('display','block');
        }

        function addToCart(productId,elementButton){
        
            $('input[name=quantity]').val('1');
            let quantity = $(elementButton).prev().val();

            if(quantity == "" || quantity < 1){
                return;
            }

            displayGrayout(productId,quantity);

            let url = '/ajax/cartItems?productId=' + productId   
                    +   '&quantity=' + quantity;

            $.get(url, function(result){
                if(result == 'succeed'){
                    let productName = $(`#product${productId} .productName`).html();
                    $("#notificationContent").html(`${productName}[${quantity}] Added to your cart`);
                    $("#notificationDiv").show(300).delay(1200).fadeOut("slow");
                }
            });
        }

        $(document).ready(function(){
            $("#grayoutBtKeepShopping").click(function () {
                $("#grayout").css('display','none');
            })
        });

        $(document).ajaxError(function(event, jqxhr, settings, thrownError) {
            console.log("Ajax error occured on " + settings.url);
            alert("Ajax error occured");
        });
    </script>
{% endblock scripts %}