<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ block('title') }}</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/image_403.png">

    <!-- Mina, Patric text font -->
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Patrick+Hand+SC&display=swap" rel="stylesheet">
 
    <!-- Google Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    {% block stylesheets %}
        <!-- layout(header, section) css -->
        <link rel="stylesheet" href="/styles/layout.css" />
    {% endblock stylesheets %}

</head>

<body>

{% block grayout %}
{% endblock grayout %}
{% block notification %}
<div id="notificationDiv">
    <div id="notificationContent">
    HAHAHAHAHAH
    </div>
</div>
{% endblock notification %}

<div class="container">
    <header>
        <a class="homeLink" href='/'></a>
        <div class="bannerLetter">
            <span>Heok's Cups</span>
        </div>
        {% block header %}
            <div>
                {% if session.user %}
                    <span>You are logged in as <b>{{ session.user.name }}</b></span>
                    <a href="/logout">Logout</a>
                {% else %}
                    <a href="/login">Login</a> or <a href="/register">Register</a>
                {% endif %}
            </div>
        {% endblock header %}
    </header>

    <nav>
        <ul>
            {% for category in categories %}
            <li><a href="/category/{{category.id}}">{{category.name}}</a></li>
            {% endfor %}
            <li><a href="/cart" class="cartLink">Cart</a></li>
        </ul>
    </nav>

    <section>
    {% block section %}{% endblock section %}
    </section>
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
    <script>
        $(document).ready(function () {
            $("#grayoutBtClose").click(function () {
                $("#grayout").css('display','none');
            })
        });
    </script>
    {% block scripts %}{% endblock scripts %}
</div>
</body>
</html>