{% extends "layout.html.twig" %}

{% block title %}
    Login page
{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/styles/login.css"/>
{% endblock stylesheets %}

{% block header %}{% endblock header %}

{% block section %}
    <form method="POST" autocomplete="off">
        <ul class="errorList">
            {% if error %}
                <li>{{ error }}</li>
            {% endif %}
        </ul>
        <div class="formInput">
            <label>Email</label>
            <input type="text" name="email" />
        </div>
        <div class="formInput">
            <label>Password</label>
            <input type="password" name="password" />
        </div>
        <div class="buttonDiv">
            <button type="submit">Login</button>
            <a href="/register">Register</a>
        </div>
    </form>
{% endblock section %}