h1 {
    margin: 20px 0;
    font-size: 2em;
}
h2 {
    margin: 5px 0;
    text-align: center;
}
p {
    margin: 5px 0;
}
ul {
    list-style-type: none;
}
li {
    border: 1px solid black;
}

section a{
    text-decoration: none;
    color: black;
}

section form div {
    display: flex;
    width: 70%;
    margin: 20px auto;
    justify-content: space-between;
}

form div label {
    width: 100%;
    text-align: right;
    margin-right: 20px;
    flex: 30px;
}

form div input,
form div textarea {
    width: 100%;
    flex: 10;
    border: 2px solid black;
}

.buttonContainer button {
    margin: 0 auto;
    padding: 3px 10px;
}
.buttonContainer{
    padding-left: 70px;
}