section{
    padding-top: 0;
}
article {
    margin-top: 20px;
}
h1 {
    padding: 20px 0;
    font-size: 2em;
}
h2 {
    padding: 10px 0;
}
p {
    padding: 10px 0;
}
ul {
    list-style-type: none;
}
li {
    border: 1px solid black;
}

section a{
    text-decoration: none;
    color: black;
}

.article div{
    border: 2px solid black;
    padding: 5px;
}

.commentForm{
    display:flex;
}
.commentForm button{
    padding: 2px 7px;
}
.commentForm textarea {
    flex:auto;
    margin-left:20px;
    resize: none;
    border: 2px solid black;
}
article a {
    color: blue;
    text-decoration: underline;
}