h1 {
    margin: 20px 0;
    font-size: 2em;
}
h2 {
    margin: 5px 0;
}
p {
    margin: 5px 0;
}
ul {
    list-style-type: none;
}
li {
    border: 1px solid black;
}

section a{
    text-decoration: none;
    color: black;
}