*{
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p,ul,li{
    padding: 0;
    margin: 0;
}
header div{
    width: 600px;
    margin: 0 auto;
    text-align:right;
    border: 1px solid green;
}

header div span{
    margin-right: 10px;
}

section {
    border: 1px solid red;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
}